.card {
    border: 1px solid #afafaf;
    background-color: #e5e5e5;
}

.card-foto {
    text-align: center;
    padding: 2em;
    height: 100%;
}

.card-dados {
    padding: 2em;
    background-color: #fff;
}

.card p.nome {
    font-weight: bold;
    font-size: 1.4em;
}

.card .form-etiqueta {
    padding: 0 0 .5em 0;
    color: #7f7f7f;
    font-weight: normal;
}

.card .form-campo {
    padding: 0 0 .5em 1em;
}

p.tipo-utilizador {
    font-weight: 800;
    color: #7f7f7f;
    margin-top: 1em;
    font-size: 1.2em;
}

p.tipo-utilizador span {
    color: #000;
    font-weight: normal;
    font-size: .9em;
}

p.estado-utilizador-ativo {
    background-color: #53a447;
    color: #fff;
    font-weight: bold;
    padding: .25em .5em;
    display: block;
    max-width: 160px;
    margin: 1.2em auto 0 auto;
}

p.estado-utilizador-outro {
	background-color: #e54c4c;
    color: #fff;
    font-weight: bold;
    padding: .25em .5em;
    display: block;
    max-width: 160px;
    margin: 1.2em auto 0 auto;
}

p.estado-utilizador-indefinido {
	background-color: #c6a75c;
    color: #fff;
    font-weight: bold;
    padding: .25em .5em;
    display: block;
    max-width: 160px;
    margin: 1.2em auto 0 auto;
}