
body {
font-size : 0.9em;
font-family : "Trebuchet MS", sans-serif;
}


h1 {
font-family : "Trebuchet MS", sans-serif;	  
color : #847248;
font-size : 2.5em;
background-color: transparent;
text-align : left;
font-weight : normal;
}

h1.cor1 {
font-family : "Trebuchet MS", sans-serif;	  
color : #847248;
font-size : 2.5em;
background-color: transparent;
text-align : left;
font-weight : normal;
}

h1.cor2 {
font-family : "Trebuchet MS", sans-serif;	  
color : #ca3c3c;
font-size : 2.5em;
background-color: transparent;
text-align : left;
font-weight : normal;
}

h2 {
font-family : "Trebuchet MS", sans-serif;	  
color : #847248;
font-size : 1.5em;
background-color: transparent;
text-align : left;
border-top: 1px solid #CACACA; 
font-weight : normal;
}

h2.cor1 {
font-family : "Trebuchet MS", sans-serif;	  
color : #847248;
font-size : 1.5em;
background-color: transparent;
text-align : left;
border-top: 1px solid #CACACA; 
font-weight : normal;
}

h2.cor2 {
font-family : "Trebuchet MS", sans-serif;	  
color : #ca3c3c;
font-size : 1.5em;
background-color: transparent;
text-align : left;
border-top: 1px solid #CACACA; 
font-weight : normal;
}

address {
font-family : "Trebuchet MS", sans-serif;	  
color : #797979;
font-size : 0.8em;
background-color: transparent;
text-align : left;
border-top: 1px solid #CACACA; 
font-weight : normal;
}

a:link {
color : Black;
text-decoration : underline;
background-color: transparent;
		}

a:visited {
color : Black;	
text-decoration : underline;
background-color: transparent;
}

a:hover {
color : Black;
text-decoration : underline;
background-color: transparent;
}

a:active {
color : Black;
text-decoration : underline;
background-color: transparent;
}

